* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #33475B;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Layout */
.container {
  width: 80%;
  margin: 0 auto;
}

.col-1{
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.3%;
}
/* Fine Layout */

/* Fonts */
h1 {
  font-size: 350%;
}
h2 {
  font-size: 250%;
}
h3 {
  font-size: 150%;
}
h4 {
  font-weight: normal;
}
h6 {
  font-weight: normal;
}
p {
  line-height: 25px;
}
a {
  text-decoration: none;
}
/* Fine Fonts */

/* Buttons */
.fa-search {
  color: #13AAC2;
}
.fa-chevron-down {
  margin-left: 10px;
}
.fa-check {
  font-size: 8px;
  margin-right: 10px;
  color: white;
  background-color: #FE775A;
  padding: 5px;
  border-radius: 20px;
}
.btn {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  line-height: 20px;
  border: 1px solid #FE775A;
}

.btn_white {
  background-color: #FFFFFF;
}
a.btn.btn_white {
  color: #FE775A;
}
.btn_orange {
  background-color: #FE775A;
}
a.btn.btn_orange {
  color: #FFFFFF;
}
.btn_large {
  padding: 15px 30px;
}
/* Fine Buttons */

/* Header */
header {
  height: 721px;
}

.header_container {
  width: 100%;
  height: 100%;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-position: center -60%;
  background-size: 100%;
}

.header_nav {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  line-height: 80px;
  text-transform: capitalize;
}

.header_nav a {
  color: #33475B;
}

.header_nav .header_nav_left {
  width: 40%;
}
.header_nav .header_nav_right {
  width: 60%;
  text-align: right;
}

.header_top {
  width: 100%;
  background-color: #F4F9FD;
  border-bottom: 1px solid #33475B;
}

.header_bottom {
  background-color: #FFFFFF;
}

.header_nav .header_logo,
.header_nav .header_nav_left,
.header_nav .header_nav_right {
  float: left;
}

.header_nav .header_logo {
  width: 40%;
}

.header_nav .header_logo img {
  margin-top: 25px;
  max-width: 100%;
}
/* Fine Header */

/* Menu */
.menu_inline {
  list-style: none;
}

.menu_inline li {
  display: inline;
  padding-right: 20px;
}

.vl {
  border-left: 2px solid #33475B;
}
/* Fine Menu */
/* Jumbotron */
.jumbotron {
  position: relative;
  height: 500px;
}

.jumbotron_text {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  padding-right: 100px;
}

.jumbotron_text h1 {
  margin-bottom: 30px;
}

.jumbotron_text p {
  margin-bottom: 30px;
}

.jumbotron_text h6 {
  margin-top: 30px;
}
/* Fine Jumbotron */
/* Banner Verde */
.banner_green {
  background-color: #AFEBE4;
  height: 60px;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;
}
/* Fine Banner Verde */
/* Main */
.main_container_top {
  background-color: #F4F9FD;
  height: 1370px;
}
/* Fine Main */
/* Box Powerful */
.powerful {
  height: 380px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.powerful img {
  margin-top: 30px;
  width: 30%;
}
.powerful h2 {
  margin-bottom: 30px;
}
/* Fine Box Powerful */
.box {
  background-color: white;
  border: 2px solid rgba(51,71,91,0.08);
  box-shadow: 0 0 11px #eaf0f6;
  border-radius: 8px;
}
/* Box Container 1 */
.box_container_1 {
  width: 80%;
  margin: 0 auto;
  height: 300px;
}
.box_content_1 {
  width: 80%;
  margin: 0 auto;
  padding: 55px;
}
.box_content_1 .box_sx,
.box_content_1 .box_dx {
  float: left;
}
.box_sx {
  width: 30%;
}

.box_sx img {
  width: 50%;
  margin-bottom: 30px;
}

.box_dx {
  width: 70%;
}
.box_text {
  margin: 20px 0;
}
.box_subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}
.text_hr {
  border-top: 1px solid black;
  width: 70%;
}
.box_subtitle .text_hr {
  float: right;
}
.box_subtitle p {
  font-weight: bold;
}

.box_subtitle ul {
  margin-top: 20px;
}
.box_subtitle li {
  list-style: none;
}
/* Fine Box Container 1 */
/* Box Container 2 */
.box_container_2 {
  width: 80%;
  margin: 0 auto;
  height: 650;
  margin-top: 40px;
}

.box_left,
.box_center,
.box_right {
  width: 31.6%;
  padding: 30px;
  height: 600px;
  float: left;
  text-align: center;
}
.box_left img,
.box_right img {
  width: 30%
}
.box_center img {
  width: 40%;
}

.box_center {
  margin: 0 30px;
}

.box_container_2 h3 {
  margin-top: 20px;
}

.box_container_2 .box_text {
  padding-bottom: 60px;
  border-bottom: 2px solid #e0e6ed;
}

.menu_vertical {
  text-align: left;
  line-height: 20px;
}
.box_container_2 .box_button {
  margin-top: 40px;
}
/* Fine Box Container 2 */
/* Box Container Blu */
.main_container_middle {
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  height: 750px;
  width: 100%;
}
.container_blu {
  width: 80%;
  height: 750px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}
.container_blu h2 {
  padding: 0 15px;
  color: white;
}
.container_blu p {
  color: white;
  margin-top: 20px;
}
.box_griglia_top {
  margin-top: 50px;
}

.box_griglia_giu {
  height: 200px;
  width: 25%;
  padding: 20px;
  float: left;
  text-align: center;
}
.su {
  border-bottom: 1px solid white;
}
.box_griglia {
  height: 200px;
  width: 25%;
  padding: 20px;
  float: left;
  text-align: center;
}

.box_griglia h1 {
  color: white;
  margin-top: 20px;
}
.box_griglia h4 {
  color: white;
  margin-top: 20px;
}
.centro_sx {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.centro_dx {
  border-right: 1px solid white;
}
/* Fine Box Container Blu */
<<<<<<< HEAD
/* Container Loghi */
.main_container_middle_2 {
  background-color: white;
  color: #33475B;
  height: 280px;
  width: 100%;
}
.loghi_container {
  width: 70%;
  margin: 0 auto;
  padding: 55px;
  height: 280px;
}
.loghi_container .loghi_dx,
.loghi_container .loghi_sx {
  float: left;
}
.loghi_container .loghi_dx {
  height: 40px;
  line-height: 40px;
}
.loghi_sx {
  width: 30%;
}
.loghi_title p {
  margin-top: 20px;
  width: 60%;
}
.loghi_dx {
  width: 70%;
  margin-top: 30px;
}
.loghi_dx .logo {
  float: left;
  width: 25%;
}
.logo img {
  width: 70%;
}
/* Fine Container Loghi */
/* Container Finale */
.container_growing {
  width: 100%;
  height: 400px;
  background-color: white;
}
.growing_content {
  width: 80%;
  height: 400px;
  padding: 0 40px;
  margin: 0 auto;
}
.growing_sx {
  width: 50%;
  height: 300px;
}
.growing_dx {
  width: 50%;
  height: 300px;
  text-align: right;
}
.growing_content .growing_sx,
.growing_content .growing_dx {
  float: left;
}
.growing_text {
  width: 80%;
}
.growing_text p {
  margin-top: 30px;
}
.growing_text .btn,
.growing_text h6 {
  margin-top: 30px;
}

.growing_dx img {
  width: 50%;
}
/* Fine Container Finale */
=======
>>>>>>> main
